#search {
    .searchBtn {
        background-color: #343a40;
    }

    #searchText {
        width: 50vw;
        display: none;
    }

    &:hover {
        position: fixed;

        #searchText {
            display: initial;
        }
    }
}

@media only screen and (min-width: 576px) {
    #search {
        #searchText {
            display: initial;
            visibility: hidden;
            width: initial;
        }

        &:hover {
            position: initial;

            #searchText {
                visibility: initial;
            }
        }
    }
}